* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    place-items: center;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

h2, #scores, #timer {
    text-align: center;
    margin-bottom: 15px;
}

.board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid black;
    width: 630px;
    background-color: rgb(74, 74, 198);
}

ul {
    display: grid;
    place-items: center;
}

ul p {
    margin: 5px;
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: white;
}

ul:hover {
    cursor: pointer;
    background-color: rgb(98, 136, 238);
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 87, 51);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(255, 51, 0);
}

/* Media Queries */
@media (max-width: 700px) {
    .board {
        width: 500px;
    }
    ul p {
        width: 55px;
        height: 55px;
    }
}

@media (max-width: 520px) {
    .board {
        width: 400px;
    }
    ul p {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 420px) {
    .board {
        width: 320px;
    }
    ul p {
        width: 30px;
        height: 30px;
    }
}
